
.main {
    font-family: 'joystix';
    font-size: 16px;
    background-image: url('../images/Capture.JPG');
    
    height:100%;
}




.section-7 {
    padding: 170px 0px 170px 0px;
    background-image: url("../images/CAPTURE.JPG");
    background-position: top;
    background-size: cover;
    position: relative;
    height: 100%;
}


html, body{
    height: 100%;
}



@font-face {
    font-family: joystix;
    src: url("../fonts/joystixmonospace.otf") format("opentype");
}